<link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<div class="row">
    <div>
        <h5>Estimado Usuario.</h5>
        <p>Su ONG fue activada correctamente, ya puede operar ingresando a ong-prueba.chaco.gov.ar </p>
        <br>
        Ante cualquier consulta o duda comuniquese +
            {% if soporte_mail.contenido is defined%}
                {{soporte_mail.contenido}}
            {% else %}
                 {{soporte_mail}}
            {% endif %} y telefónicamente al 
            {% if soporte_tel.contenido is defined%}
                {{soporte_tel.contenido}}
            {% else %}
                 {{soporte_tel}}
            {% endif %}
        <br>
        <div style="text-align:center;width:20%;">
            Atte. <br>
            Equipo de administración ONG<br>
        </div>
         <div style="width:50%;">
            <img  class="img-fluid" src="{{url('index')}}img/logos_head.png">
        </div>
    </div>
</div>